[Unit]
Description=Ahenk Agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/bin/ahenk-go start
ExecStop=/usr/bin/ahenk-go stop
ExecReload=kill -HUP $MAINPID
PIDFile=/run/ahenk-go.pid
Restart=always

[Install]
WantedBy=multi-user.target