#!/usr/bin/make -f

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -- --no-source
	# dh_systemd_enable || true
	# dh_systemd_start || true
	dh_installsystemd
